.main-img-set{
    width: 20%;
    /* height: 40%; */
    white-space: nowrap;
}
.main-img img{
    white-space: nowrap;
    float: left;
}
.secondDiv {
    text-align: center;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
    min-height: 100%;
}
.helloBtn {
    background: red;
    box-shadow: 10px 10px 8px #777777;
    transition: backgroud 0.5s ease-in-out;
    border: yellow;
    font-size: 30px;
    cursor: pointer;
    color: blanchedalmond;
}
.helloBtn:hover {
    background: yellow;
    color: black;
    transform: rotateX(360deg);
    transition: 0.8s;
}

.findoutmore button{
  display: block;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}
.findoutmore button{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  display: none;
}

.findoutmore button{
  display: block;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
