<!-- <p>
  home works!
</p> -->
<div class="paging-1" >


  <!-- first page -->
  <div class="main-img row">

    <div class="main-divs" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg')">
      <!--<img src="../assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg" class="main-img-set"/>-->
      <!--<button mat-button-raised (click)="AiMlDlButtonClick()">AI ML DL</button>-->
      <div class="findoutmore button">
        <button mat-button-raised class="btn btn-success green-button" (click)="AiMlDlButtonClick()">button</button>
      </div>
    </div>

    <div class="main-divs" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg')">
        <!--<img src="../assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg" class="main-img-set"/>-->
        <!-- <button mat-button-raised (click)="gameDevButtonClick()">Game developing</button> -->
      <div class="findoutmore button">
        <button mat-button-raised class="btn btn-success green-button" (click)="AiMlDlButtonClick()">button1</button>
      </div>
    </div>

    <div class="main-divs" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg')">
        <!--<img src="../assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg" class="main-img-set"/>-->
        <!-- <button mat-button-raised (click)="digiMarketingButtonClick()">Digital Marketing</button> -->
      <div class="findoutmore button">
        <button mat-button-raised class="btn btn-success green-button" (click)="AiMlDlButtonClick()">button2</button>
      </div>
    </div>

    <div class="main-divs" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg')">
        <!--<img src="../assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg" class="main-img-set"/>-->
        <!-- <button mat-button-raised (click)="swDevButtonClick()">SW Dev</button> -->
      <div class="findoutmore button">
        <button mat-button-raised class="btn btn-success green-button" (click)="AiMlDlButtonClick()">button3</button>
      </div>
    </div>

    <div class="main-divs" style="background-image: url('./assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg')">
        <!--<img src="../assets/images/home/9c496e431496f716d33259c68d353aefdc66160f.jpeg" class="main-img-set"/>-->
        <!-- <button mat-button-raised (click)="swDevButtonClick()">SW Dev</button> -->
      <div class="findoutmore button">
        <button mat-button-raised class="btn btn-success green-button" (click)="AiMlDlButtonClick()">button4</button>
      </div>
    </div>
  </div>
</div>

<!-- second page -->
<div>

  <div class="secondDiv">
      <img src=".././assets/images/toolbar/companyLogo.jpg"/>
      <br>
      <span><h1>Hello</h1></span><br>
      <span><h1>Meet BrainArts Family</h1></span><br>
      <span><button class="helloBtn">Say Hello</button></span>
    </div>


</div>




<div >
<mat-card style="background-image: url(./assets/images/home/tumblr.gif);background-size: contain;height:400px">
  <h1>Clients</h1>
  <p>this is clients</p>
</mat-card>
</div>


<div>
<h1>Projects</h1>
<mat-card>
  <p>this is card</p>
</mat-card>
</div>

<div>
<h1>Details</h1>
<mat-card>
  <p>this is card</p>
</mat-card>
</div>
